


 a{
  text-decoration: none;
  color: #04aaf8;;
 }

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: muli;
}
*, ::after, ::before {
    box-sizing: border-box;
}


body {
    /* line-height: 25px;
    font-size: 15px; */
    font-family: "muli", sans-serif;
    font-weight: normal;
    background: #f2f2f2;
}

html,p {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px){
  html{
    font-size: 18px;
    line-height: 20px;
  }
}
  